<footer class="bg-white text-center border-top pt-2">
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> Techno. All rights reserved.</p>
    <p>Made By <a href="https://github.com/Ahmad-AlaaEdin">Ahmad</a></p>
  </div>
</footer>
