<header>
  <h1>Techno</h1>

  <button class="menu-toggle" id="menuToggle">
    <i class="fa-solid fa-bars"></i>
  </button>

  <form>
    <input type="text" placeholder="Search" />
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <div class="nav-actions" id="navActions">
    <% if (user) { %>
      <div class="profile">
        <a href="/profile">
          <img src="<%= user.photo || '/img/deafult.jpg' %>" alt="<%= user.name %>" />
        </a>
        <span><%= user.name %></span>
      </div>
      <button class="cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    <% } %>
  </div>
</header>
