<div class="card h-100 w-100">
  <img
    src="<%= product.image %>"
    class="card-img-top h-50"
    alt="<%= product.name %>"
  />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text overflow-hidden"><%= product.description %></p>
    <a href="#" class="btn btn-dark mt-auto">Add To Cart</a>
  </div>
</div>
